body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.text__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
.hero__bg{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: url("/images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    transition: background 1.5s linear;
    color: white;
    text-transform: uppercase;
    font-family: 'MesloLGS NF';
}


.buttons {
    background-color: rgba(0, 0, 0, 0.5);
    outline: none;
    border: none;
    color: white;
    padding: 20px;
    border-radius: 10px;
    transition: all 0.5s;
}

.buttons:hover {
    background-color: white;
    color: black;
}
.green {
    color: greenyellow;
}

.red {
    color: red;
}

.yellow {
    color: yellow;
}

.nav-ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: flex-end;
}

.nav-ul a {
    padding: 10px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    font-family: 'MesloLGS NF';
}

nav a {
    color: inherit;
}
.brand {
    font-size: 30px;
}